autopep8
ipykernel
# for ipython kernel
seaborn
# for jupyter lab
tensorflow-macos
tensorflow-metal
tensorboard
tensorflow-probability
ray[default,data,rllib,tune,serve]
gym[atari]
gym[accept-rom-license]
atari_py
pyarrow
dask
jupyterlab
